.search-bar {
    width: 100%;
    max-width: 600px;
}

.card {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    max-width: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container h5 {
    font-weight: bold;
}

.navbar {
    justify-content: space-between;
    padding: 1rem;
    background-color: #1F9782;
    
}
.container-fluid {
    display: flex;
    flex-direction: column;
}

.logo {
    color: white;
    font-size: 56px;
    text-decoration: none;
    font-weight: 700;
}
.btn-outline.active {
    background-color: #1F9782;
    color: white;
}
.btn-outline {
    border-color: #1F9782;
}
.search-bar-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.btn-filled {
    background-color: #1F9782;
    color: white;
    margin-top: 18px;
    min-width: 150px;
}
.logout {
    color: #1F9782;
}

.card-img {
    height: 100px;
    width: 100px;
    margin: 10px;
    object-fit: cover;
}

.carousel-item{
    height: 100px;
    width: 100px;
    margin: 10px;
    object-fit: cover;
    max-height: 100px;
}

.form-group {
    margin-bottom: 1rem;
}

.profile-section {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.profile-section img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.account-option {
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.account-option p {
    margin: 0;
    font-size: 16px;
}
.logout-btn {
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    color: #008080;
    font-weight: bold;
}
#detalhesProduto {
    background-color: #fff;
    padding: 15px;
}
.product-image {
    text-align: center;
    margin-bottom: 20px;
}

.product-image img {
    max-width: 50%;
}

.product-info {
    margin-bottom: 20px;
}

.product-info p {
    margin: 5px 0;
}

.product-description {
    color: #888;
}

.quantity-select {
    margin-bottom: 20px;
    max-width: 140px;
}
.link-detalhes {
    color: #555555;
    cursor: pointer;
}
.cart-button {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: x-large;
}
@media (max-width: 767.98px) {
    .cart-button {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: medium;
    }
    .logo {
        font-size: 48px;
    }
  }
